.bg-mycolor{
background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
}
#invisibile{
    color: rgba(0, 0, 0, 0);
    user-select: none;
}
img{
    width: 20%;
    height: 5%;
}
#collasible-nav-dropdown{
    font-family: fantasy;
}
#font{
    font-family:fantasy;
}
#fonta{
    background-color:yellow;
    background-image: linear-gradient(45deg, rgb(255, 0, 0), rgb(0, 132, 255) 75%);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
   -webkit-text-fill-color: transparent;
    font-family:fantasy;
}